<footer>
  <ul>
    <li><%= link_to 'Lectures CRUD (Lectures#index)', lectures_path %>&nbsp;|&nbsp;</li>
    <li><%= link_to '<Classroom/> (Classroom#lecture)', classroom_lectures_path %></li>
  </ul>
</footer>
